.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: black;
    color: white;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.nav-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-list li {
    margin: 0 15px;
}

.nav-list li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.login-button {
    padding: 5px 15px;
    border: 2px solid white;
    background: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}
